.about{
    width: 100%;
    padding: 0;
    background-color: white;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.about img{
    height: auto;
   width: 420px;
}
.about-text{
    width: 550px;
}
.main-about{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h1{
    color: rgb(243, 22, 22);
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text p{
    color: rgb(13, 13, 13);
    letter-spacing: 1px;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 45px;
}
.btn-know{
    background: red;
    color: white;
    text-decoration: none;
    border: 1px solid transparent;
    font-weight: bold;
    padding: 10px 10px;
    border-radius: 10px;
}
button{
    transition: .4s;
}
button:hover{
    background: white;
    color: red;
    border: 1px solid;
}
@media screen and (max-width: 768px) {
    .about{
        width: 100%;
        padding: 0;
        background-color: white;
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;

    }
  
    
  }
  